.Header a{
      word-wrap: break-word;      /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;      /* current browsers */
}
h1{
color: #33CCCC;}
.Navagation li { 
display: inline;
text-align: center;
}

.Navagation a{ 
text-decoration: none;
color: #000000;
}
.Navagation a:hover{
	background-color: #33CCCC;
	border-radius: 15px;
}