.Header h1{
	color: white;
	padding: 110px;
	background-image: url('http://4.bp.blogspot.com/-KZHuxH9oT04/UJATmXkO3NI/AAAAAAAAEjI/m5QD-FTowhE/s1600/feminine');
	font-size: 40px;
	text-align:center;
	text-transform: uppercase;
}

.container a{ text-decoration: none;
color: black;}

.container a:hover{background-color: whitesmoke;
	border-radius: 15px;}
	
	
.container li{

text-decoration: none;
	background-color: rosybrown;
	border-radius: 50px;
	color: black;
	text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px}

.Navagation li { 
background: rosybrown;
border-radius: 200px;
display: inline;
text-align: center;
text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 50px;
}

.Navagation a{ 
text-decoration: none;
color: #000000;
}
.Navagation a:hover{

	background-color: whitesmoke;
	border-radius: 15px;
}

.container {
	color: #fff;
	text-align:left;
margin: 70px;
  background-color: slategray;
  font-size: 15px;
  padding: 14px 10px;
  

}